# Binaries for programs and libraries
target/
**/target/
**/debug/
**/release/
*.exe
*.pdb
*.dll
*.so
*.dylib
# Incremental build files
**/incremental/
# If you have Cargo.lock in a library package, you may want to ignore it
# But for executables, it's typically tracked
# Cargo.lock
